@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #09bccf;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.spinner::before {
  content: "";
  position: absolute;
  top: -4px;
  width: 5px;
  height: 5px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #047cac;
}